@model IEnumerable<SCRS.Models.Student>
@{
    ViewBag.Title = "Students in Course";
    var course = ViewBag.Course as SCRS.Models.Course;
}

<h2>Students in @course.CourseCode - @course.CourseName</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Grade
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @*Display grade here if available*@
                    </td>
                    <td>
                        @Html.ActionLink("Update Grade", "UpdateGrade", new { courseId = course.CourseID, studentId = item.StudentID }, new { @class = "btn btn-warning btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        No students are registered for this course.
    </div>
}

<div>
    @Html.ActionLink("Back to Course Details", "Details", new { id = course.CourseID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to Courses List", "Index", null, new { @class = "btn btn-default" })
</div> 