@model SCRS.Models.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Courses", "Courses", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Register", "Register", new { id = Model.StudentID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div> 